/* <-----------Cody Mohit Design if you are copying this please give credit--------> */

body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}


/* Headings */

.main-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}


/* Containers */

.container-fluid {
    padding: 3% 15% 7%;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}


/* Buttons */

.Download-button {
    margin: 5% 3% 5% 0;
}


/* Title image */

.title-img {
    width: 65%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-box h3 {
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bolder;
}

.feature-box p {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonial Sections */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

#testimonials h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}


/* press */

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

#pricing h2 {
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bolder;
}

#pricing h3 {
    font-family: "Akaya Telivigala";
    font-weight: bold;
}

.card-body p {
    font-family: "Merriweather";
    word-spacing: 2.5px;
    font-size: 1rem;
    letter-spacing: 1px;
}

.pricing-colomn {
    padding: 3% 2%;
}


/* CTA Section */

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 1000;
}


/* Footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width:1028px) {
    .title-img {
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }
}


/* <-----------Cody Mohit Design if you are copying this please give credit--------> */